body {
  margin: 0;
  overflow: hidden;
}

#black-background {
  margin: 0;
  width: 100vw;
  height: 100vh;
  left: 0;
  background-color: black;
  position: absolute;
  overflow: hidden;
  z-index: 3;
}

#time-digital {
  margin: auto;
  font-size: 4vw;
  top: 40vh;
  left: 30vw;
  position: absolute;
}

#clock {
  color: red;
}


#bluetransition {
  background-color: #73c2fb;
  border-radius: 50%;
  width: 60vw;
  height: 60vw;
  transition: width 7s, height 7s, transform 15s;
  position: absolute;
  right: -60vw;
  bottom: -60vw;
  z-index: 4;
  backface-visibility: hidden;
  transform: translateZ(0);
}

.fadein {
  animation-name: opacityfadein;
  animation-duration: 5s;
  animation-timing-function: ease-in;
}

@keyframes opacityfadein {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

/*
.main::-webkit-scrollbar {
  display: none;
}
*/
