body {
  margin: 0;
  overflow: hidden;
}

img {
  image-rendering: pixelated;
}

#logo {
  position: absolute;
  min-width: 250px;
  min-height: 250px;
  width: 500px;
  height: 500px;
  border-radius: 50%;
  left: calc(50vw - 125px);
  background-color: white;
  bottom: -750px;
  margin: 0;
  padding: 0;
  z-index: 5;
  justify-content: center;
  display: flex;
}
#nikowalking {
  height: 96px;
  width: 72px;
  min-width: 36px;
  min-height: 48px;
  z-index: 6;
  transform: scaleY(-1);
}

#floor {
  width: 100vw;
  height: 40vh;
  z-index: 4;
  left: 0;
  background-color: #00224b;
  bottom: -50vh;
  margin: 0;
  position: absolute;
}

#bluebackground {
  background-color: #73c2fb;
  width: 100vw;
  height: 100vh;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 2;
  margin: 0;
  padding: 0;
}

#nikoportrait {
  width: 182px;
  min-width: 91px;
  height: 160px;
  min-height: 80px;
  position: absolute;
  margin: auto;
  z-index: 3;
  bottom: -200px;
  left: calc(50vw - 91px);
}
